:root {
    --azul-color: #252859;
    --turquesa-color: #63BFAE;
    --rosa-color: #F291A3;
    --fresa-color: #F2594B;
    --ambar-color: #F2B441;
    --ponche-color: #F25764;
    --calabaza-color: #F27405;
    --naranja-color: #F2913D;
    --albaricoque-color: #F2CEAE;
  }
  