body {
    margin-top: 100px;
    padding: 0;
    font-family: 'nunito', sans-serif;
    /* background-color: #F2B441; */ /*amarillo*/
    background-color: #252859;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    height: 100vh;
    scrollbar-width: thin;
    scrollbar-color: #252859 #252859 ;
}

/* Estilos para la barra de desplazamiento en Edge */
body {
    -ms-overflow-style: none;
    scrollbar-width: thin;
    scrollbar-color: #252859 #252859;
}

body::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento en WebKit */
}

body::-webkit-scrollbar-thumb {
    background-color:#252859; /* Color del "pulgar" de la barra de desplazamiento en WebKit */
    border-radius: 2px; /* Radio de borde para el "pulgar" de la barra de desplazamiento en WebKit */
}

body::-webkit-scrollbar-track {
    background-color: #252859; /* Color del fondo de la barra de desplazamiento en WebKit */
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  background-color: #252859;  /*color de todo la barra de navegacion  */
    /* background-color: #F2B441; */
    color: #fff;
    padding: 10px;
    z-index: 1000; /* Asegura que la barra de navegación esté sobre otros elementos */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ajusta los valores según tu preferencia */
}
#inicioh2{
    color: #63BFAE;
    font-size: 40px;
    font-family: Raleway;
}
#inicioh3{
    color: #fff;
    font-size: 20px;
}
#inicioh4{
    color: #63BFAE;
}
#iniciop{
    color: #fff;
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulos{
    padding: 20px;
    color: #fff;
    text-align: center;
    font-family: Raleway;
    font-size: 5.0em;
    
}

 img {
    transition: transform 0.3s; /* Agrega una transición para un efecto suave */
    width: 180px; /*1 :4*/
    height: 40px;
    margin: 20px;
}

/* Aplica el zoom en hover */
img:hover {
    transform: scale(1.2); /* Ajusta el valor según tu preferencia para el zoom */
}

nav {
    flex: 1;
    text-align: center;
  
    
}

nav ul {
    list-style: none;
    display: flex;  /* hace que quede la alineacion nav horizontal  */
    justify-content: center; /*cenrra el nav*/
    margin: 0;
    padding: 0;
    
}

nav li {
    margin-right: 40px; 
}

nav a {
    text-decoration: none;
    color: #fff;
    position: relative;
}
#marker{
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 90px;
    border-bottom: #63C5B8;
    background: linear-gradient(0deg,#63C5B8,transparent);
}

nav a.active {
    background-color: #63C5B8;
    color: #fff;
    
}

nav a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
}

nav a:hover::after,
nav a.active::after {
    background-color: #63C5B8;
    width: 100%;
}

.hero {
    bottom: 0;
    left: 0;
    margin: auto; /* Ajusta el margen superior para evitar que el contenido se solape con la barra de navegación */
    text-align: center;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    height: 350px;
    font-family: Nunito;
    background: #63C5B8;
    
    /* background-color: #f4f4f4; */
}


.hero img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#about,
#experience,
#projects {
    padding: 50px;
}

/* Estilos adicionales para la cuadrícula de proyectos */

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.project {
    position: relative;
    overflow: hidden;
}

.project img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.project:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project:hover .overlay {
    opacity: 1;
}

.overlay-content {
    text-align: center;
    color: #fff;
}

.overlay-content a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    display: flex;
    align-items: flex-end ;
    margin-right: 20px;
}
/* Centra la grilla de las fotos  app mobile*/
.imageGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding:0px 200px;/*el 80 indica el margen de arriba e abajo y el segundo valor va de der e izq */
    margin: auto; /* Centra la grilla */
}
.imageGrid .project {
    position: relative;
    overflow: hidden;
    border-radius: 40px; /* Añade bordes redondeados al contenedor, ajusta el valor según tus preferencias */
}
.imageGrid .project img {
    width: 100%;
    height: 500px;
    object-fit: cover; /* Ajusta la propiedad para unificar los tamaños manteniendo la proporción */
    transition: transform 0.3s, filter 0.3s; /* Agrega la transición para el zoom y el oscurecimiento */
    transform: scale(1.1);
}
.imageGrid .project:hover img {
    transform: scale(1.3);
    filter: brightness(70%); /* Oscurece la imagen al pasar el cursor */
}
.imageGrid .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Añade un diseño de columna para el contenido */
}
.imageGrid .project:hover .overlay {
    opacity: 1;
}
.imageGrid .overlay-content {
    text-align: center;
    color: #fff;
}
.imageGrid .overlay-content a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.imageGrid .overlay-content h3 {
    margin: 0;
    font-size: 1.5em; /* Ajusta el tamaño del título según sea necesario */
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca las partículas detrás del contenido principal */
}
/* card  de acerca de mi */
.card {
    display: flex;
    max-width: 1000px; /* Ajusta el ancho máximo de la tarjeta según sea necesario */
    margin: 200px;
    align-items: center; /* Alinea el contenido al centro horizontalmente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #F2B441;
    border-radius: 40px;
}

.card-image {
      width: 50%;
            padding: 20px;
            text-align: center; /* Ajusta la alineación de la imagen según sea necesario */
        }

.card-image img {
    width: 100%;
    height: 100%; /* Ajusta para que la imagen no se estire */
    
    border-radius: 40px;
}

.card-content {
    width: 70%;
    padding: 40px;
    font-family: Metrophobic;
    text-align: left; /* Ajusta la alineación del texto según sea necesario */
}

.card h1 {
    font-family: Nunito;
    font-size: 30px;
    color: #252859;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #252859;
    line-height: 1.6;
}
#figuraRara_1 {
height: 100px;

background: #63C5B8;
border-bottom-right-radius: 100px;
}

/* parte del footer */
footer {
    background-color: #63C5B8;
    color: #fff;
    text-align: center;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-b img {
    max-width: 60%;
    height: auto;
}

.social-icons {
    display: flex;
    justify-content: center;
    
}

.social-icons a {
    display: flex;
    align-items: center;
}

.social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}

.copyright {
   
    font-size: 14px; /* Ajusta el tamaño de fuente del texto de copyright */
}
#separadorImagen {
    margin-bottom: 40px;
}

  .linea-con-punto {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 2px;
    background-color: #ffffff00; /* Color del espacio */
  }
  
  .linea-con-punto::before,
  .linea-con-punto::after {
    content: "";
    flex: 1;
    height: 3px;
    background-color:  #63C5B8; /* Color de la línea */
    border-radius: 10px;
  }
  
  .linea-con-punto::before {
    margin-right: 10px; /* Espacio a la derecha del punto */
  }
  
  .linea-con-punto::after {
    margin-left: 10px; /* Espacio a la izquierda del punto */
  }
  
  .punto {
    position: relative;
    width: 10px; /* Tamaño del punto */
    height: 10px;
    background-color:  #63C5B8; /* Color del punto */
    border-radius: 50%;
  }
  .linea-punteada {
    border-top: 4px dotted #F2B441; /* Altura de la línea punteada y color */
    width: 100%; /* Ancho de la línea */
    height: 0; /* Asegura que la altura sea cero para líneas horizontales */
    margin: 40px 0; /* Espaciado alrededor de la línea */
  }
 