body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'nunito', sans-serif;
    background-color: #252859;
    overflow-x: hidden;
   /* Estilos para la barra de desplazamiento en Edge */
    -ms-overflow-style: none;
    scrollbar-width: thin;
    scrollbar-color: #252859 #252859;
}
body::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento en WebKit */
}

body::-webkit-scrollbar-thumb {
    background-color:#252859; /* Color del "pulgar" de la barra de desplazamiento en WebKit */
    border-radius: 2px; /* Radio de borde para el "pulgar" de la barra de desplazamiento en WebKit */
}

body::-webkit-scrollbar-track {
    background-color: #252859; /* Color del fondo de la barra de desplazamiento en WebKit */
}
.container .imageGrid
{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
   padding: 20px;
   padding:0px 200px;/*el 80 indica el margen de arriba e abajo y el segundo valor va de der e izq */
   margin: auto; /* Centra la grilla */
   
}
/* Centra la grilla de las fotos  app mobile*/
.imageGrid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
   padding:0px 200px;/*el 80 indica el margen de arriba e abajo y el segundo valor va de der e izq */
   margin: auto; /* Centra la grilla */
}
.overlay { /*hace que se oscuresca la imagen, tambien afecta las letras del centro*/
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   opacity: 0;
   transition: opacity 0.3s;
   display: flex;
   align-items: center;
   justify-content: center;
}

.project:hover .overlay {
   opacity: 1;
}

.overlay-content {
   text-align: center;
   color: #fff;
}

.imageGrid .project {
   position: relative;
   overflow: hidden;
   border-radius: 40px; /* Añade bordes redondeados al contenedor, ajusta el valor según tus preferencias */
   
}
.imageGrid .project img {
   width: 100%;/*hacen ver gigante a los iconos*/
   height: 500px;/*hacen ver gigante a los iconos*/
   object-fit: cover; /* Ajusta la propiedad para unificar los tamaños manteniendo la proporción */
   transition: transform 0.3s, filter 0.3s; /* Agrega la transición para el zoom y el oscurecimiento */
   transform: scale(1.1);
}
.imageGrid .project .img2{
   width: 50px;/*hacen ver gigante a los iconos*/
   height: 50px;/*hacen ver gigante a los iconos*/
   flex-wrap: wrap;
} 

.container#blur.active,
.container#blur2.active,
.container#blur3.active,
.container#blur4.active,
.container#blur5.active,
.container#blur6.active
{
    filter :blur(20px);
    pointer-events: none;
    user-select:none;
}

.btn1 {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px 30px; /* Ajusta el padding para hacer el botón más grande */
    text-decoration: none;
    color: #000000;
    background-color:#ff7474;  
    border: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#popup1 .btn1,
#popup2 .btn1,
#popup3 .btn1,
#popup4 .btn1,
#popup5 .btn1,
#popup6 .btn1 {
    position:relative;
    margin: 20px auto; /* Centra el botón horizontalmente */
    padding: 15px 30px; /* Ajusta el padding para hacer el botón más grande */
    display: inline-block;
    font-weight: bold;
    font-family: 'nunito', sans-serif;
    font-size: 16px;
    text-decoration: none;
    background: #ff7474;  /* color del botón read more */
    box-shadow:0 5px 10px rgba(0,0,0,.5);
    color: #000000 ;
    border-radius: 20px; /* radio de borde redondeado */
}
.btn1:hover {
    background-color: #d45f5f;
    color: #fff;
    transform: scale(1.1);
    transition: ease-in-out;
  
}
#popup1,
#popup2,
#popup3,
#popup4,
#popup5,
#popup6  
{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 50px;
    box-shadow:0 5px 30px rgba(0,0,0,.5);
    background:#63BFAE;
    visibility: hidden;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
    border-radius: 20px;
    z-index: 100;
}
#popup1.active,
#popup2.active,
#popup3.active,
#popup4.active,
#popup5.active,
#popup6.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.parrafo{
    text-align: justify;
}


@keyframes rotateAnimation {
    0% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}

.titulos{
    margin: 100px auto;
    color: #fff;
    max-width: 980px;/* esta tamaño no se ajusta a los diferentes textos largo */
    text-align: center;
    font-family: Raleway;
    font-size: 5.0em;
    position: relative;
    
}
.titulos:before{
    background-color: #fff;
    display: block;
    width: 120px;
    height: 2px;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
}

.titulos::after{
    background-color: #fff;
    display: block;
    width: 120px;
    height: 2px;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
}

#particles-js {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: -1; /* Coloca las partículas detrás del contenido principal */
}