body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'nunito', sans-serif;
    background-color: #252859;
    overflow-x: hidden;
}
.container
{
    position:relative;
    width:100%;
   min-height:100vh;
display: flex;
justify-content: center;
align-items: center;
background: #F2B441;/* fondo*/
transition: 0.5s;
padding: 20px;
}
