body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'nunito', sans-serif;
    background-color: #252859;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: thin;
    scrollbar-color: #252859 #252859;
}

.container
{
    position:relative;
    width:100%;
   min-height:100vh;
display: flex;
justify-content: center;
align-items: center;
background: #F2B441;/* fondo*/
transition: 0.5s;
padding: 20px;
}

/* parte de navegador de diapositivas */
.slider{
    width: 1468px;
    max-width: 100vw;
    height: 600px;
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-top: 150px;
    margin-bottom: 100px;
    border-radius: 30px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
 }
 .list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
 }
 #imagenApp{
    width: 1468px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
 }
 .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    display: flex;
    width: 90%;
    justify-content: space-between;
 }
 .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F25764;
    color: #fff;
    border: none;
    font-family: Raleway;
    font-weight: bold;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.8);
 }
 .dots{
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
 }
 .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #F25764;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
    box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.8);

 }
 .dots li.active{
    width: 30px;
 }

 @media screen and (max-width: 768px){
    .slider{
        height: 300px;
    }
 }

 #particles-js { /*hace que se integre mejor wl fondo particulas*/
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca las partículas detrás del contenido principal */
}
.titulos{
    padding-top: 10px;
    margin: 100px auto;
    color: #fff;
    max-width: 980px;/* esta tamaño no se ajusta a los diferentes textos largo */
    text-align: center;
    font-family: Raleway;
    font-size: 5.0em;
    position: relative;
    
}
.titulos:before{
    background-color: #fff;
    display: block;
    width: 120px;
    height: 2px;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
}

.titulos::after{
    background-color: #fff;
    display: block;
    width: 120px;
    height: 2px;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
}