body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'nunito', sans-serif;
    background-color: #252859;
    overflow-x: hidden;
      /* Estilos para la barra de desplazamiento en Edge */
      -ms-overflow-style: none;
      scrollbar-width: thin;
      scrollbar-color: #252859 #252859;
  }
  body::-webkit-scrollbar {
      width: 10px; /* Ancho de la barra de desplazamiento en WebKit */
  }
  
  body::-webkit-scrollbar-thumb {
      background-color:#252859; /* Color del "pulgar" de la barra de desplazamiento en WebKit */
      border-radius: 2px; /* Radio de borde para el "pulgar" de la barra de desplazamiento en WebKit */
  }
  
  body::-webkit-scrollbar-track {
      background-color: #252859; /* Color del fondo de la barra de desplazamiento en WebKit */
  }



/* parte de navegador de diapositivas */
.slider{
    width: 1468px;
    max-width: 100vw;
    height: 600px;
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-top: 150px;
    margin-bottom: 100px;
    border-radius: 30px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
 }.item {
   display: flex;
   position: relative;
   overflow: hidden;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.item img {
   width: 100%;
   height: auto;
   display: block;
}

.parrafo {
   text-align: justify;
}

.overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   display: none;
   align-items: center;
   justify-content: center;
   color: #fff;
   text-align: center;
}

.item:hover .overlay {
   display: flex;
}

.overlay-content {
   text-align: center;
   color: #fff;
   pointer-events: none;
}

.button {
   /* Estilos adicionales para el botón si es necesario */
   pointer-events: auto;
}

  #popup1 .button,
#popup2 .button,
#popup3 .button,
#popup4 .button,
#popup5 .button,
#popup6 .button {
    position:relative;
    margin: 20px auto; /* Centra el botón horizontalmente */
    padding: 15px 30px; /* Ajusta el padding para hacer el botón más grande */
    display: inline-block;
    font-weight: bold;
    font-family: 'nunito', sans-serif;
    font-size: 16px;
    text-decoration: none;
    background: #ff7474;  /* color del botón read more */
    box-shadow:0 5px 10px rgba(0,0,0,.5);
    color: #000000 ;
    border-radius: 20px; /* radio de borde redondeado */
}

#popup1,
#popup2,
#popup3,
#popup4,
#popup5,
#popup6  
{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 50px;
    box-shadow:0 5px 30px rgba(0,0,0,.5);
    background:#63BFAE;
    visibility: hidden;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
    border-radius: 20px;
    z-index: 100;
}
#popup1.active,
#popup2.active,
#popup3.active,
#popup4.active,
#popup5.active,
#popup6.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.parrafo{
    text-align: justify;
}


@keyframes rotateAnimation {
    0% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}

 .list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 3s ease-in-out;
 }
 h3 {
    margin-top: -20%;
 }
 .button {
   display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px 30px; /* Ajusta el padding para hacer el botón más grande */
    text-decoration: none;
    color: #000000;
    background-color:#ff7474;  
    border: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }
  
  .button:hover {
    background-color: #bb434d;
    color: #fff;
    transform: scale(1.1);
    transition: ease-in-out;
  }
 #imagenApp{
    width: 1468px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
    
 }
 .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    display: flex;
    width: 90%;
    justify-content: space-between;
 }
 .buttons button{
    width: 50px;
    margin: 30px;
    height: 50px;
    border-radius: 50%;
    background-color: #F25764;
    color: #fff;
    border: none;
    font-family: Raleway;
    font-weight: bold;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.8);
 }
 .dots{
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
 }
 .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #F25764;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
    box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.8);

 }
 .dots li.active{
    width: 30px;
 }

 @media screen and (max-width: 768px){
    .slider{
        height: 300px;
    }
 }

 #particles-js { /*hace que se integre mejor wl fondo particulas*/
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca las partículas detrás del contenido principal */
}
.titulos{
    padding-top: 10px;
    margin: 100px auto;
    color: #fff;
    max-width:600px;/* esta tamaño no se ajusta a los diferentes textos largo */
    text-align: center;
    font-family: Raleway;
    font-size: 5.0em;
    position: relative;
    
}
.titulos:before{
    background-color: #fff;
    display: block;
    width: 120px;
    height: 2px;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
}

.titulos::after{
    background-color: #fff;
    display: block;
    width: 120px;
    height: 2px;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
}
