*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #252859;
    overflow-x: hidden;
   /* Estilos para la barra de desplazamiento en Edge */
   -ms-overflow-style: none;
   scrollbar-width: thin;
   scrollbar-color: #252859 #252859;
}
body::-webkit-scrollbar {
   width: 10px; /* Ancho de la barra de desplazamiento en WebKit */
}

body::-webkit-scrollbar-thumb {
   background-color:#252859; /* Color del "pulgar" de la barra de desplazamiento en WebKit */
   border-radius: 2px; /* Radio de borde para el "pulgar" de la barra de desplazamiento en WebKit */
}

body::-webkit-scrollbar-track {
   background-color: #252859; /* Color del fondo de la barra de desplazamiento en WebKit */
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px; /* Ajusta el espacio interno del formulario */
}
.contact h2{
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    
}
.contact form{
    width: 100%;
    max-width: 600px;
    text-align: center;
}
form .input-box{
    display: flex;
    flex-wrap: wrap;/* Los elementos flexibles se envolverán en líneas adicionales si no hay suficiente espacio en la línea actual.*/
    justify-content: space-between;
}
.input-box .input-field{
    width: 48.5%;/* Ajusta el ancho de los campos de entrada */
}
.field .item{
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #83fde7;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #ededed;
    margin: 12px 0;
}
.field.error .item{
border-color: #F25764;
}

.field .item::placeholder{
    color: rgb(210, 210, 210);
}
.field .error-txt{
    font-size: 14.5px;
    color: #F25764;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}
.field.error .error-txt{
    display: block;
}
form .textarea-field .item{
    resize: none;
}
form .textarea-field .error-txt{
    margin-top: -10px;
}
form button{
    padding: 12px 32px;
    background: #63BFAE;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #82ffee;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;

}
#particles-js { /*hace que se integre mejor wl fondo particulas*/
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca las partículas detrás del contenido principal */
}
