*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #252859;
    overflow-x: hidden;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    display: flex;
    align-items: flex-end ;
    margin-right: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  background-color: #252859;  /*color de todo la barra de navegacion  */
    /* background-color: #F2B441; */
    color: #fff;
    padding: 10px;
    z-index: 1000; /* Asegura que la barra de navegación esté sobre otros elementos */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ajusta los valores según tu preferencia */
}
.img1 {
    transition: transform 0.3s; /* Agrega una transición para un efecto suave */
    width: 180px; /*1 :4*/
    height: 40px;
    margin: 20px;
}
nav {
    flex: 1;
    text-align: center;
  
    
}

nav ul {
    list-style: none;
    display: flex;  /* hace que quede la alineacion nav horizontal  */
    justify-content: center; /*cenrra el nav*/
    margin: 0;
    padding: 0;
    
}

nav li {
    margin-right: 40px; 
}

nav a {
    text-decoration: none;
    color: #fff;
    position: relative;
}
nav a.active {
    color: #63BFAE;
    color: #fff;
    
}

nav a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
}

nav a:hover::after,
nav a.active::after {
    background-color: #63C5B8;
    width: 100%;
}

/* Aplica el zoom en hover */
.img1:hover {
    transform: scale(1.2); /* Ajusta el valor según tu preferencia para el zoom */
}

.contact h2{
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
}
.contact form{
    width: 600px;
    text-align: center;
}
form .input-box{
    display: flex;
    justify-content: space-between;
}
.input-box .input-field{
    width: 48.5%;
}
.field .item{
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #83fde7;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #ededed;
    margin: 12px 0;
}
.field.error .item{
border-color: #F25764;
}

.field .item::placeholder{
    color: rgb(210, 210, 210);
}
.field .error-txt{
    font-size: 14.5px;
    color: #F25764;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}
.field.error .error-txt{
    display: block;
}
form .textarea-field .item{
    resize: none;
}
form .textarea-field .error-txt{
    margin-top: -10px;
}
form button{
    padding: 12px 32px;
    background: #63BFAE;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #82ffee;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;

}

/* parte del footer */
footer {
    margin-top: 20px;
    background-color: #63C5B8;
    color: #fff;
    text-align: center;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-b img {
    max-width: 60%;
    height: auto;
}

.social-icons {
    display: flex;
    justify-content: center;
    
}

.social-icons a {
    display: flex;
    align-items: center;
}

.social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
.copyright {
   
    font-size: 14px; /* Ajusta el tamaño de fuente del texto de copyright */
}
#particles-js { /*hace que se integre mejor wl fondo particulas*/
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca las partículas detrás del contenido principal */
}
