body {
    padding-top: 100px; /* Ajusta este valor según sea necesario para dejar espacio para el header */
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    /* background-color: #F2B441; */ /*amarillo*/
    background-color: #252859;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    height: 100vh;
    /* Estilos para la barra de desplazamiento en Edge */
    -ms-overflow-style: none;
    scrollbar-width: thin;
    scrollbar-color: #252859 #252859;
}
body::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento en WebKit */
}

body::-webkit-scrollbar-thumb {
    background-color:#252859; /* Color del "pulgar" de la barra de desplazamiento en WebKit */
    border-radius: 2px; /* Radio de borde para el "pulgar" de la barra de desplazamiento en WebKit */
}

body::-webkit-scrollbar-track {
    background-color: #252859; /* Color del fondo de la barra de desplazamiento en WebKit */
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  background-color: #252859;  /*color de todo la barra de navegacion  */
    /* background-color: #F2B441; */
    color: #fff;
    padding: 10px;
    z-index: 1000; /* Asegura que la barra de navegación esté sobre otros elementos */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ajusta los valores según tu preferencia */
}
#inicioh2{
    color: #63BFAE;
    font-size: 40px;
    font-family: Raleway;
}
#inicioh3{
    color: #fff;
    font-size: 20px;
}
#inicioh4{
    color: #63BFAE;
}
#iniciop{
    color: #fff;
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulos{
    margin: 100px auto;
    color: #fff;
    max-width: 980px;/* esta tamaño no se ajusta a los diferentes textos largo */
    text-align: center;
    font-family: Raleway;
    font-size: 5.0em;
    position: relative;
    
}
.titulos:before{
    background-color: #fff;
    display: block;
    width: 120px;
    height: 2px;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
}

.titulos::after{
    background-color: #fff;
    display: block;
    width: 120px;
    height: 2px;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
}
/* Agregando un padding a la sección hero para evitar solapamiento */
.hero {
    padding-bottom: 20px;
}
.hero {
    position: relative;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    right: 0;
    top: 0;
    width: 100%;
    height: 200px;
    font-family: Nunito;
    overflow: hidden; /* Oculta el exceso de onda */
    z-index: 1; /* Asegura que esté sobre el fondo */
}

.hero img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.hero svg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* Ajusta para cubrir todo el ancho */
    z-index: -1; /* Detrás del contenido */
}

#about,
#experience,
#projects {
    padding: 50px;
}

/* Estilos adicionales para la cuadrícula de proyectos */

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.project {
    position: relative;
    overflow: hidden;
}

.project img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.project:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project:hover .overlay {
    opacity: 1;
}

.overlay-content {
    text-align: center;
    color: #fff;
}

.overlay-content a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    display: flex;
    align-items: flex-end ;
    margin-right: 20px;
}
/* Centra la grilla de las fotos  app mobile*/
.imageGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding:0px 200px;/*el 80 indica el margen de arriba e abajo y el segundo valor va de der e izq */
    margin: auto; /* Centra la grilla */
}
.imageGrid .project {
    position: relative;
    overflow: hidden;
    border-radius: 40px; /* Añade bordes redondeados al contenedor, ajusta el valor según tus preferencias */
}
.imageGrid .project img {
    width: 100%;
    height: 500px;
    object-fit: cover; /* Ajusta la propiedad para unificar los tamaños manteniendo la proporción */
    transition: transform 0.3s, filter 0.3s; /* Agrega la transición para el zoom y el oscurecimiento */
    transform: scale(1.1);
}
.imageGrid .project:hover img {
    transform: scale(1.3);
    filter: brightness(70%); /* Oscurece la imagen al pasar el cursor */
}
.imageGrid .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Añade un diseño de columna para el contenido */
}
.imageGrid .project:hover .overlay {
    opacity: 1;
}
.imageGrid .overlay-content {
    text-align: center;
    color: #fff;
}
.imageGrid .overlay-content a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.imageGrid .overlay-content h3 {
    margin: 0;
    font-size: 1.5em; /* Ajusta el tamaño del título según sea necesario */
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca las partículas detrás del contenido principal */
}
/* card  de acerca de mi */
.card {
    display: flex;
    max-width: 1000px; /* Ajusta el ancho máximo de la tarjeta según sea necesario */
    margin: 200px;
    align-items: center; /* Alinea el contenido al centro horizontalmente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #F2B441;
    border-radius: 40px;
}

.card-image {
      width: 50%;
            padding: 20px;
            text-align: center; /* Ajusta la alineación de la imagen según sea necesario */
        }

.card-image img {
    width: 100%;
    height: 100%; /* Ajusta para que la imagen no se estire */
    
    border-radius: 40px;
}

.card-content {
    width: 70%;
    padding: 40px;
    font-family: Metrophobic;
    text-align: left; /* Ajusta la alineación del texto según sea necesario */
}

.card h1 {
    font-family: Nunito;
    font-size: 30px;
    color: #252859;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #252859;
    line-height: 1.6;
}
#figuraRara_1 {
height: 100px;

background: #63C5B8;
border-bottom-right-radius: 100px;
}

#separadorImagen {
    margin-bottom: 40px;
}

  .linea-con-punto {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 2px;
    background-color: #ffffff00; /* Color del espacio */
  }
  
  .linea-con-punto::before,
  .linea-con-punto::after {
    content: "";
    flex: 1;
    height: 3px;
    background-color:  #63C5B8; /* Color de la línea */
    border-radius: 10px;
  }
  
  .linea-con-punto::before {
    margin-right: 10px; /* Espacio a la derecha del punto */
  }
  
  .linea-con-punto::after {
    margin-left: 10px; /* Espacio a la izquierda del punto */
  }
  
  .punto {
    position: relative;
    width: 10px; /* Tamaño del punto */
    height: 10px;
    background-color:  #63C5B8; /* Color del punto */
    border-radius: 50%;
  }
  .linea-punteada {
    border-top: 4px dotted #F2B441; /* Altura de la línea punteada y color */
    width: 100%; /* Ancho de la línea */
    height: 0; /* Asegura que la altura sea cero para líneas horizontales */
    margin: 40px 0; /* Espaciado alrededor de la línea */
  }
/* parte de navegador de diapositivas */
  .slider{
    width: 1468px;
    max-width: 100vw;
    height: 600px;
    margin: auto;
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
 }
 .list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
 }
 #imagenApp{
    width: 1468px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
 }
 .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    display: flex;
    width: 90%;
    justify-content: space-between;
 }
 .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F2B441;
    color: #fff;
    border: none;
    font-family: Raleway;
    font-weight: bold;
 }
 .dots{
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
 }
 .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #F2B441;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
 }
 .dots li.active{
    width: 30px;
 }

 @media screen and (max-width: 768px){
    .slider{
        height: 300px;
    }
 }

 .scroll{
    position: absolute;
    color: #F2B441;
    font-weight: 300;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
 }

 .mask{
    margin-top: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    user-select: none;
    mix-blend-mode: screen;
 }
.projectTri{
    margin-left: 400px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   width: 1100px;  /* ayuda a que se distribuyan en horizontal trinagulos puede aumentar las columnas de trianglulos o disminuir */
   gap: 29px;
}
.projectTri .img2  {
    position: relative;
    width: 340px;
    height: 340px;
    overflow: hidden;
    margin: 0 -85px;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.projectTri .img2:nth-child(2){
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.projectTri .img2:nth-child(4){
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.projectTri .img2:nth-child(7){
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.projectTri .img2:hover{

    transform: scale(0.8);
    filter: brightness(70%);
}
.projectTri .img2 {
    transition: 0.5s;
}
.scroll {
    position: absolute;
    color: #f3c892;
    font-weight: 300;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
    cursor: pointer;
}

.line {
    position: absolute;
    width: 1px;
    height: 100px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-image: linear-gradient(to top, rgb(157, 167, 165), rgb(121, 124, 124));
}
/* Media queries para hacerlo responsivo */
@media screen and (max-width: 768px) {
    body {
        padding-top: 60px; /* Ajusta el padding del cuerpo */
    }

    .titulos {
        font-size: 1.5em;
    }

    .hero img {
        width: 100px;
        height: 100px;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
    }

    .project img {
        width: 100%;
        height: auto;
    }
}