body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
    background-color: #252859;
    overflow-x: hidden;
   /* Estilos para la barra de desplazamiento en Edge */
   -ms-overflow-style: none;
   scrollbar-width: thin;
   scrollbar-color: #252859 #252859;
}
body::-webkit-scrollbar {
   width: 10px; /* Ancho de la barra de desplazamiento en WebKit */
}

body::-webkit-scrollbar-thumb {
   background-color:#252859; /* Color del "pulgar" de la barra de desplazamiento en WebKit */
   border-radius: 2px; /* Radio de borde para el "pulgar" de la barra de desplazamiento en WebKit */
}

body::-webkit-scrollbar-track {
   background-color: #252859; /* Color del fondo de la barra de desplazamiento en WebKit */
}
.container
{
   position:relative;
   width:100%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.5s;
   
}
.container#blur.active,
.container#blur2.active,
.container#blur3.active
{
    filter :blur(20px);
    pointer-events: none;
    user-select:none;
}
.container .content
{
    position: relative;
    max-width: 800px;
    text-align: center;
}
h2{

    margin-bottom: 10px;
    color: #fff;/* boton read more */
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 5.0em;
    text-transform: uppercase;
}
.titulo1 {
    padding-top: 50px; /* Ajusta el valor según tus necesidades */
}

h2:before{
    background-color: #fff;
    display: block;
    width: 120px;
    height: 2px;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
}

h2:after{
    background-color: #fff;
    display: block;
    width: 120px;
    height: 2px;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
}
.container .content img
{
    max-width: 100%;
    display: block;
}
.btn1 {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px 30px; /* Ajusta el padding para hacer el botón más grande */
    text-decoration: none;
    color: #fff;
    background-color: #63C5B8;  
    border: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


#popup1 .btn1,
#popup2 .btn1,
#popup3 .btn1,
#popup4 .btn1,
#popup5 .btn1 {
    position:relative;
    margin: 20px auto; /* Centra el botón horizontalmente */
    padding: 15px 30px; /* Ajusta el padding para hacer el botón más grande */
    display: inline-block;
    font-weight: bold;
    font-family: 'Metrophonic', sans-serif;
    font-size: 16px;
    text-decoration: none;
    background: #ff7474;  /* color del botón read more */
    box-shadow:0 5px 10px rgba(0,0,0,.5);
    color: #ffffff ;
    border-radius: 20px; /* radio de borde redondeado */
    z-index: 1;
}
.btn1:hover {
    background-color: #53a499;
}
#popup1,
#popup2,
#popup3
{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 50px;
    box-shadow:0 5px 30px rgba(0,0,0,.5);
    background:#63BFAE;
    visibility: hidden;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
    border-radius: 20px;
    z-index: 1000;
}
#popup1.active,
#popup2.active,
#popup3.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
.parrafo{
    text-align: justify;
}

.social-icons a:hover img {
    animation: rotateAnimation 0.5s ease-in-out infinite; /*un bucle infinito */
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}

.imgUx{
    width: 100% !important; 
    height: auto !important;
    border-radius: 20px;
    box-shadow:0 5px 30px rgba(0,0,0,.5);
}
.linea-con-punto {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background-color: #ffffff00; /* Color del espacio */
  }
  
  .linea-con-punto::before,
  .linea-con-punto::after {
    margin-top: 40px;
    content: "";
    flex: 1;
    height: 3px;
    background-color:  #63C5B8; /* Color de la línea */
    border-radius: 10px;
  }
  
  .linea-con-punto::before {
    margin-right: 15px; /* Espacio a la derecha del punto */
  }
  
  .linea-con-punto::after {
    margin-left: 15px; /* Espacio a la izquierda del punto */
  }
  
  .punto {
    position: relative;
    width: 10px; /* Tamaño del punto */
    height: 10px;
    margin-top: 30px;
    background-color:  #63C5B8; /* Color del punto */
    border-radius: 50%;
}
.titulos{
    margin: 100px auto;
    color: #fff;
    max-width: 980px;/* esta tamaño no se ajusta a los diferentes textos largo */
    text-align: center;
    font-family: Raleway;
    font-size: 5.0em;
    position: relative;
}
.titulos:before{
    background-color: #fff;
    display: block;
    width: 120px;
    height: 2px;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
}

.titulos::after{
    background-color: #fff;
    display: block;
    width: 120px;
    height: 2px;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
}
#particles-js { /*hace que se integre mejor wl fondo particulas*/
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca las partículas detrás del contenido principal */
}
/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .header {
        padding: 20px;
    }

    .menu-toggle {
        display: block; /* Muestra el botón del menú en pantallas pequeñas */
    }

    nav {
        display: none; /* Oculta el menú en pantallas pequeñas */
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #252859;
        padding: 20px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
        z-index: 999;
    }

    nav.active {
        display: flex; /* Muestra el menú cuando está activo */
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}