/* aplica box sizing a todos los elementos */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{

    font-family: 'Comfortaa', sans-serif;
    background-color: #252859;
      scrollbar-width: thin;
      scrollbar-color: #252859 #252859;
      font-size: 1.6rem;
      line-height: 2;
  }
/* Globales */
h1, 
h2, 
h3 {
    font-family: 'Comfortaa', serif;
    margin: 0 0 2rem 0;
    color: var(--ambar-color);
}
h1 {
    font-size: 3.8rem;
}
@media (min-width: 768px) { 
    h1 {
        font-size: 5rem;
    }
}
h2 {
    font-size: 3.2rem;
}
@media (min-width: 768px) { 
    h2 {
        font-size: 4rem;
    }
}
h3 {
    font-size: 2.4rem;
}
@media (min-width: 768px) { 
    h3 {
        font-size: 3rem;
    }
}
a {
    text-decoration: none;
    color: var(--albaricoque-color);
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
img {
    max-width: 100%;
    display: block;
}


@media (min-width: 768px) { 
    .btn {
        width: auto;
    }
}


/** Utilidades */
.text-center {
    text-align: center;
}

@media (min-width: 768px) { 
    .max-width-30 {
        max-width: 30rem;
    }
}
/** Header y Navegacion **/
.nombre-sitio {
    margin-top: 5rem;
    text-align: center;
    color: var(--ambar-color);
}
.nombre-sitio span {
    color: var(--fresa-color);
}
.contenedor-navegacion {
    border-top: .1rem solid #e1e1e1;
}
.nav-principal {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) { 

}

.hero{
    background-image: url(../images/ihivikobanner.png);
    background-repeat: no-repeat;
    background-size: cover; /* esto es para que la imagen se estire */
    background-position: center center;
    height: 25rem;
}

@media (min-width: 768px) { 
    .hero {
        height: 55rem;
    }
}

p {
    color: var(--ambar-color) ;
}
#particles-js { /*hace que se integre mejor wl fondo particulas*/
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca las partículas detrás del contenido principal */
}

/* Aquí definimos el CSS Grid */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(5,1fr); /* Columnas de tamaño mínimo de 100px */
    gap: 10px; /* Espacio entre las imágenes */
    justify-items: center; /* Centra las imágenes horizontalmente en cada celda */
    padding: 2rem 0;
    align-items: center;
}

/* Ajustamos el tamaño de las imágenes */
.skills-grid img {
    max-width: 40%; /* Para que las imágenes no se salgan del contenedor */
    height: auto; /* Para mantener la proporción de la imagen */
}
.certificado{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta el tamaño mínimo y máximo de las columnas */
    gap: 10px; /* Espacio entre las imágenes */
    justify-items: center; /* Centra las imágenes horizontalmente en cada celda */
    padding: 2rem; /* Agrega un espacio interno al contenedor */
}
.certificado img{
    width: 90%; /* Para que las imágenes no se salgan del contenedor */
    height: auto; /* Para mantener la proporción de la imagen */
    object-fit: cover;
    border-radius: 10px; /* Agrega bordes redondeados a las imágenes */
}

/* Media query para hacer el header responsivo */
@media screen and (max-width: 768px) {
    .header {
        padding: 20px;
    }

    .menu-toggle {
        display: block; /* Muestra el botón del menú en pantallas pequeñas */
    }
   
}